#banner {
    max-width: 620px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    #banner {
        max-width: 500px;
    }
}

@media only screen and (max-width: 600px) {
    banner {
        background-color: black;
    }
}

.box {
    border: 1px solid #343434;
}

.box img {
    margin-bottom: 15px;
    max-width: 600px;
}
