/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: block;
}

/* Container styles */
.container {
    width: 90%;
    max-width: 3200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Logo styles */
.logo img {
    width: 100%;
    max-width: 620px;
    margin-bottom: 2em;
}

/* Box styles */
.welcome-box, .minting-box, .about-box {
    background: #fff;
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: 5px;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.1);
    text-align: center;
}

/* Welcome box styles */
.welcome-box {
  /* Add a linear gradient background */
  background: linear-gradient(135deg, #6dd5ed, #2193b0);
}

.welcome-box h2, .minting-box h2, .about-box h2 {
  /* Increase the font size */
  font-size: 2.5em;

  /* Add a subtle text shadow */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes textGlow {
  0%, 100% {
    text-shadow: 0 0 10px #7fff00, 0 0 20px #7fff00, 0 0 30px #7fff00, 0 0 40px #7fff00;
  }
  50% {
    text-shadow: 0 0 20px #7fff00, 0 0 30px #7fff00, 0 0 40px #7fff00, 0 0 50px #7fff00, 0 0 60px #7fff00;
  }
}

.welcome-text {
  animation: textGlow 0.5s infinite;
}

/* Music player styles */
.music-player {
    margin-bottom: 2em;
}

/* Twitter link styles */
.twitter-link a, .minting-box a {
    color: #1DA1F2;
    text-decoration: none;
}

/* Image box styles */
.image-box {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 2em;
}

.image-box img {
    width: 100%; /* adjusted from 150% */
    position: relative; /* adjusted from absolute */
    transition: transform 0.3s ease;
}

/* About box styles */
.about-box p {
    margin-bottom: 1em;
}

/* Link styles */
a {
    transition: color 0.3s ease;
}

a:hover {
    color: #0D8ED5;
}

/* Theme switch styles */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

/* Dark theme styles */
html[data-theme='dark'] {
    background-color: #1f1f1f;
    color: #f1f1f1;
}

html[data-theme='dark'] .welcome-box,
html[data-theme='dark'] .minting-box,
html[data-theme='dark'] .about-box {
    background-color: #2d2d2d;
}

/* Navigation styles */
nav {
  text-align: center;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
  transition: color 0.3s ease-out;
}

nav ul li a:hover {
  color: #1DA1F2;
}

/* Parallax styles */
.parallax {
  /* The image used */
  background-image: url("peek.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Three container styles */
.three-container {
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

/* Keyframes */
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/* Cool link styles */
.cool-link {
  position: relative;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  transition: color 0.2s ease-in-out;
}

.cool-link:hover {
  color: #fff;
}

.cool-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.cool-link:hover:before {
  height: 0;
}

/* Cool image styles */
.cool-image {
  transition: transform 0.2s;
}

.cool-image:hover {
  transform: scale(1.1);
}

/* Modern button styles */
.modern-button {
  background-color: #000; /* Change this to match your site's color scheme */
  color: #fff; /* Change this to match your site's color scheme */
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.modern-button:hover {
  background-color: #555; /* Change this to match your site's color scheme */
  color: #000; /* Change this to match your site's color scheme */
}

/* Blur effect styles */
.blur-effect {
  backdrop-filter: blur(10px);
}

/* Media queries */
@media (max-width: 600px) {
  .welcome-text {
    font-size: 1.5em;
  }
  .modern-button {
    font-size: 12px;
    padding: 10px 20px;
  }
  .parallax {
    min-height: 300px;
  }
}
