 ////----add fonts here
}

body {
    background-color: lightgray;
}
.landing {
    background-image: url('public/vend.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    mix-blend-mode:multiply;
    height: 80vh;
}
#txinfo {
  color: ivory;
  display:none;
  align-items: center;
  background-color: black;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 75%;
  margin:10px;
  z-index: 4;
  overflow: scroll;
}
#popx {
  position:relative;
  float: right;
  top: 0%;
  width: 50px;
}
.popupstuff {
  font-size:xx-large;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
}

  @media only screen and (max-width: 480px) {
    body {
      background-size: 500%;
    }
    .dropitemsee {
      display:block;
      position:absolute;
      left: 10%;
      z-index: 1;
      padding: 20px;
      overflow:auto;
      display:block !important;
      background-color: rgba(255, 255, 255, 0.86);
      backdrop-filter:blur(8px);
    }
  }

.help {
    display: inline-block;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.help ul li a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.options {
    display: inline-block;
    justify-content: center;
}
.options ul li{
    display: inline-block;
    margin: 10px;
    font-size: 200%;
}
.connect {
    margin: 30px;
    float: right;
}
.dropdown {
    display:inline-block;
    font-family: gloock;
    padding:5px;
}
.dropdown:hover {
  background-color:gray;
  cursor: pointer;
}
.dropitems {
    display:none;
    position:absolute;
    left: 10%;
    z-index: 1;
    padding: 20px;
}
.dropitems a {
    padding: 10px;
}
.dropitemsee {
  display:block;
  position:absolute;
  left: 10%;
  z-index: 1;
  padding: 20px;
  overflow:auto;
  display:block !important;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(80px);
}
.dropitemsee a {
  padding: 10px;
}
/* .dropdown:hover .dropdown:focus .dropdown:active {
    background-color: azure;
    cursor:pointer;
}
.dropdown:hover {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(60px);
} */
.dropitemsee p a:hover {
    background-color: gray;
}
  
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 75%;
    margin:10px;
  }
  nav ul {
    list-style-type: none;
    align-items: center;
    padding: 0px;
    display: flex;
    justify-content: center;
    width: inherit;
  }
  nav ul li {
    margin: 20px;
  }
  .progress-bar-container {
    width: 80%;
    margin: 0 auto;
  }
  #progress-bar {
    width: 0%;
    height: 20px;
    background-color: #435f7a;
    transition: width 0.3s ease-in-out;
  }
  
  #progress-text {
    margin-top: 10px;
    text-align: center;
    font-size: 60px;
    font-family: gloock;
    backdrop-filter: blur(30px);
  }
  button {
    font-size: 200%;
    font-family: silkscreen;
  }
  #redeem-button{
    display: block;
  }
  #mnt-btn {
    display: none;
  }
  #mint-input {
    display:none;
    width: 100%;
    height: 60px;
    font-family: gloock;
    font-size: 40px;
  }
  #approve-button{
    display: none;
  }
  #pop {
    display: none;
  }
  /* #bottleList ul li:hover {
    cursor: pointer;
    background-color: pink;
  } */
  .bottle {
    font-family: gloock;
  }
  .bottle:hover {
    cursor: pointer;
    background-color: pink;
  }
  li .clicked{
    font-family: rubikburned;
  }
  .masterframe h1{
    display:inline;
  }
  #title {
    font-family: norse;
    font-size: 100px;
  }
  #title2 {
    font-family:gajraj;
    font-size: 100px;
  }
  #title3 {
    font-family: gloock;
    font-size: 100px;
  }
  #title4 {
    font-family: nabla;
    font-size: 100px;
  }
  #title5 {
    font-family: rubikburned;
    font-size: 100px;
  }
  #title6 {
    font-family: rubikmaze;
    font-size: 100px;
  }
  #title7 {
    font-family: rubicpaint;
    font-size: 100px;
  }
  #title8 {
    font-family: rubikvinyl;
    font-size: 100px;
  }
  #title9 {
    font-family: silkscreen;
    font-size: 100px;
  }
  footer {
    position:absolute;
    bottom:0;
    width:100%;
    display: flex;
    justify-content: center;
  }
  footer img {
    margin: 10px;
    display: inline-flex;
  }

  .marquee {
    width: 100%;
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }

  /* .marquee ul li {
    list-style: none;
  } */

  .marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 60s linear infinite;
  }
  .marquee__content h1 {
    margin: 30px;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
}
